.signupContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
}

.signupBox {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(243, 166, 166, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.signupBox h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.signupBox label {
  display: block;
  text-align: left;
  margin: 12px 0 6px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.signupBox input {
  width: 100%;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: border 0.3s ease;
}

.signupBox input:focus {
  border-color: #7a7a7a;
  box-shadow: 0 0 2px rgba(32, 32, 32, 0.5);
}

.signupBox button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background: #7e7d7d;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.signupBox button:hover {
  background: #837e7e;
}

/* Botão para voltar ao login */
.loginRedirect {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background: transparent;
  color: #555;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.loginRedirect span {
  font-weight: bold;
  color: #333;
}

.loginRedirect:hover {
  color: #111;
}

.loginRedirect:hover span {
  text-decoration: underline;
}
