/* Fundo centralizado */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3f3f3; /* cinza claro */
}

/* Caixa do login */
.login-box {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 350px;
}

/* Título */
.login-box h1 {
  text-align: center;
  color: #000;
  margin-bottom: 20px;
  font-size: 24px;
}

/* Labels */
.login-box label {
  display: block;
  font-size: 14px;
  color: #333;
  margin-bottom: 6px;
  margin-top: 12px;
}

/* Inputs */
.login-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
}

.login-box input:focus {
  border-color: #e60000; /* vermelho */
}

/* Botão */
.login-box button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background: #e60000; /* vermelho */
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.login-box button:hover {
  background: #b30000; /* vermelho mais escuro */
}